<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-12">
        <p> Place Holder </p>
      </div>
    </div>
    <div class="row center-content-vertical">
      <div class="col-md-6">
        <img src="" alt="" class="img-responsive" style="min-height: 100px;"/>
      </div>
      <div class="col-md-6">
        <div class="btn-toolbar pull-right">
          <a type="button" class="btn btn-primary">Edit</a>
          <a type="button" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel-body">
        <p>
          <span style="font-size: 20px;"><b>Email:</b> </span>
        </p>
        <p>
          <span style="font-size: 20px;"><b>Phone:</b> </span>
        </p>
      </div>
    </div>
  </div>
</div>
